.content-container .title {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
    line-height: 53px;
    margin-top: 40px;
    color: black;
    margin-bottom: 30px;
    text-transform: uppercase;
}