
 .image-preview {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-image: url('pexels-photo-2616812.jpg');*/

}

 .image-preview .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    bottom: 0;
    color: white;
    padding-top: 15px;
    padding-left: 35px;
}

 #news .image-container{
    padding-left: 0px;
    /*background-image: url('../images/blonde2.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 30%;
 }

 #news .image-container img{
    width: 100%;
 }

 @media(max-width: 990px) {
    #news .image-container{
       height: 300px;
    }

     .image-preview {
         height: 300px;
         background-size: cover;
     }

     #news .image-preview{
         height: 100%;
     }
 }