<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact US</title>

    <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/Global/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/User/about-terms.css">
    <link rel="stylesheet" type="text/css" href="../../css/User/contact-us.css">

</head>

<body>

    <div class="container-fluid">
        <div class="row about-terms" id="contact-us">
            <div class="col-md-6 image-preview">
                <div class="overlay">
                    <span class="logo-left">LE</span><span class="logo-right">LE</span>
                </div>

            </div>
            <div class="col-md-6 content-container" title="CONTACT">
                <div class="title">
                    Contact<br>US
                </div>
                <div class="content">
                    <form action="#">
                        <div class="contact-us-title">NAME</div>
                        <br>
                        <div class="col-md-offset-2 col-md-10">
                             <input class="contact-us-input" type="text" name="name" placeholder="WHO ARE YOUR?"/>    
                        </div>
                        
                        <br><br><br>

                        <div class="contact-us-title">YOUR EMAIL</div>
                        <br>
                        <div class="col-md-offset-2 col-md-10">
                             <input class="contact-us-input" type="email" name="email" placeholder="YOUR EMAIL?"/>    
                        </div>
                        
                        <br><br><br>
                        
                        <div class="contact-us-title">MESSAGE</div>
                        <br>

                        <div class="col-md-offset-2 col-md-10">
                             <input class="contact-us-input" type="text" name="message" placeholder="INSERT YOUR REQUEST HERE?"/>    
                        </div>
                    
                        <br><br><br><br>
                    
                        <div class="col-xs-6">
                             ACCEPT PRIVACY
                        </div>            
                        <div class="col-md-offset-2 col-md-4 col-xs-6" >
                            <button class="save-button" type="submit">SEND</button>
                            <span class="save-span"></span>
                        </div>

                        
                    </form>
                </div>
            </div>
            <div class="footer">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

</body>

<script src="../../js/Global/jquery.min.js"></script>
<script src="../../js/Global/bootstrap.min.js"></script>

</html>
