<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sample</title>

    <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/Global/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/User/home-page.css">

</head>

<body>

    <div class="container-fluid">
        <div class="row" id="home-page">
            <div class="overLay">  </div>
            <div class="content-container">
              <div class="header">
                <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-10">
                        <div class="logo">
                            <!-- <img src="../../img/logo.png" alt=""> -->
                            <span class="logo-left">LE</span><span class="logo-right">LE</span>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="menu-icon pull-right">
                          <span class="glyphicon glyphicon-menu-hamburger triggreMenu" aria-hidden="true"></span>

                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-md-11">
                    <div class="caption pull-right">
                      <h3>The Best</h3>
                      <h3>Makeup</h3>
                      <h3> &nbsp; Beauty</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
              </div>


            </div>
            <div class="right-menu text-center">
                <div class="menu">
                  <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">New</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">How to use</a></li>
                    <li><a href="#">Terms &amp; Coniditions</a></li>
                    <li><a href="#">Multi Media</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                  </ul>
                </div>
            </div>

        </div>
    </div>

</body>

<script src="../../js/Global/jquery.min.js"></script>
<script src="../../js/Global/bootstrap.min.js"></script>
<script src="../../js/User/home-page.js"></script>

</html>
