<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Multimedia-Photos</title>

  <!-- bootstrap style links -->
  <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/Global/font-awesome.min.css">

  <!-- fonts links -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface:400,700' rel='stylesheet' type='text/css'>

  <!-- page style link -->
  <link rel="stylesheet" type="text/css" href="../../css/User/multimedia-photos.css">

</head>

<body>

  <div class="container-fluid">
    <div id="multimedia-photos" class="row photos-page">
      <!-- image-preview and logo part begins  -->
      <div class="col-md-6 image-preview">
        <div class="overlay">
          <span class="logo-left">LE</span><span class="logo-right">LE</span>
        </div>

      </div>
      <!-- image-preview and logo part ends  -->

      <!-- Page content part begins -->
      <div class="page-content" title="Multimedia">

        <!-- tabs part begins -->
        <div class="tabs col-md-4 col-md-push-5">
          <div class="col-md-2">
            <a class="videos"><h6>VIDEOS</h6></a>
          </div>
          <div class="col-md-2 col-md-push-1">
            <a class="photos"><h6>PHOTOS</h6></a>
          </div>
        </div>
        <!-- tabs part ends -->

        <!-- photo description part begins -->
         <div class="description-container col-md-6">
           <div class="col-md-2">
              <img />
           </div>
           <div class="col-md-4">
              <h6></h6>
           </div>
           <div class="col-md-6">
             <p>

             </p>
           </div>
             <a class="know-more"><h6>Know More</h6></a>
           <div class="col-md-6 hidden-content">
             <p>

             </p>
           </div>
         </div>


        <!-- photo description part ends -->

      </div>
      <!-- Page content part start -->

      <!-- footer begins -->
      <div class="footer">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      </div>
      <!-- footer ends -->
    </div>
  </div>

</body>

<!-- bootstrap scripts  -->
<script src="../../js/Global/jquery.min.js"></script>
<script src="../../js/Global/bootstrap.min.js"></script>

</html>
