<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Multimedia-Videos</title>

  <!-- bootstrap style links -->
  <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/Global/font-awesome.min.css">

  <!-- fonts links -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface:400,700' rel='stylesheet' type='text/css'>

  <!-- owl carousel slider style links -->
  <link rel="stylesheet" href="../../css/Global/owl.carousel.min.css">
  <link rel="stylesheet" href="../../css/User/owl.theme.default.min.css">

  <!-- page style link -->
  <link rel="stylesheet" type="text/css" href="../../css/User/multimedia-videos.css">

</head>

<body>

  <div class="container-fluid">
    <div id="multimedia-videos" class="row videos-page">
      <!-- page content begins -->
      <div class="page-content" title="Multimedia">
        <!-- logo part begins  -->
        <div class="logo">
          <span class="logo-left">LE</span><span class="logo-right">LE</span>
        </div>
        <!-- logo part ends  -->

        <!-- tabs part begins -->
        <div class="tabs col-md-4 col-md-push-5">
          <div class="col-md-2">
            <a class="videos"><h6>VIDEOS</h6></a>
          </div>
          <div class="col-md-2 col-md-push-1">
            <a class="photos"><h6>PHOTOS</h6></a>
          </div>
        </div>
        <!-- tabs part ends -->


        <div class="video-preview">
          <!-- video description part begins -->
          <div class="col-md-6">
            <span class="glyphicon glyphicon-play play-icon"></span>
            <span id="video-duration">03:00</span>
            <p class="video-name">
              Lorem Ipsum is simply dummy
            </p>
            <span id="video-date">20/03/18</span>
          </div>
          <!-- video description part ends-->

          <!-- video slider begins -->
          <!-- <div class="slider">
            <section id="demos">
              <div class="row">
                <div class="large-12 columns">
                  <div class="owl-carousel owl-theme">
                    <div class="item">
                      <h4>1</h4>
                    </div>
                    <div class="item">
                      <h4>2</h4>
                    </div>
                    <div class="item">
                      <h4>3</h4>
                    </div>
                    <div class="item">
                      <h4>4</h4>
                    </div>
                    <div class="item">
                      <h4>5</h4>
                    </div>
                    <div class="item">
                      <h4>6</h4>
                    </div>
                    <div class="item">
                      <h4>7</h4>
                    </div>
                    <div class="item">
                      <h4>8</h4>
                    </div>
                    <div class="item">
                      <h4>9</h4>
                    </div>
                    <div class="item">
                      <h4>10</h4>
                    </div>
                    <div class="item">
                      <h4>11</h4>
                    </div>
                    <div class="item">
                      <h4>12</h4>
                    </div>
                  </div>
                </div>
              </div>
          </div> -->
          <!-- video slider ends -->
        </div>
      </div>

      <div class="footer">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</body>

<!-- bootstrap scripts -->
<script src="../../js/Global/jquery.min.js"></script>
<script src="../../js/Global/bootstrap.min.js"></script>

<!-- owl carousel scripts -->
<script src="../../js/Global/owl.carousel.min.js"></script>
<script src="../../js/User/slider-video.js"></script>

<script type="text/javascript">
</script>

</html>
