<!DOCTYPE html>
<html>
<!--
   Author: Manar Ashraf Bayoumi
   ID: 20140277
 -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Multimedia-Photos</title>

  <!-- bootstrap style links -->
  <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/Global/font-awesome.min.css">

  <!-- fonts links -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface:400,700' rel='stylesheet' type='text/css'>

  <!-- navbar style link -->
  <link rel="stylesheet" type="text/css" href="../../css/User/home-page.css">

  <!-- page style link -->
  <link rel="stylesheet" type="text/css" href="../../css/User/multimedia-photos.css">


</head>

<body>

  <div class="container-fluid">
    <div id="multimedia-photos" class="row photos-page">
      <!--NAVBAR-->
      <div class="header">
          <div class="row">
              <div class="col-md-12">
                  <div class="col-md-10 col-sm-10 col-xs-10">
                      <div class="logo">
                          <!-- <img src="../../img/logo.png" alt=""> -->
                          <span class="logo-left">LE</span><span class="logo-right">LE</span>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-10 col-xs-2 nav-btn">
                      <div class="menu-icon pull-right">
                          <span class="glyphicon glyphicon-menu-hamburger triggreMenu" aria-hidden="true"></span>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="right-menu text-center">
          <div class="menu">
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">New</a></li>
                  <li><a href="#">Offers</a></li>
                  <li><a href="#">How to use</a></li>
                  <li><a href="#">Terms &amp; Coniditions</a></li>
                  <li><a href="#">Multi Media</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Contact us</a></li>
              </ul>
          </div>
      </div>
      <!--END NAVBAR-->

      <!-- image-preview and logo part begins  -->
      <div class="col-md-6 col-s-12 col-xs-12 image-preview">
        <div class="overlay">

        </div>
        <!-- tabs part begins -->
        <div class="tabs col-md-4 col-md-push-10 col no-padding-left">
          <div class="col-md-4 desktop-tab">
            <a class="videos"><h6>VIDEOS</h6></a>
          </div>
        </div>
      </div>
      <!-- image-preview and logo part ends  -->

      <!-- Page content part begins -->
      <div class="page-content col-s-12 col-sm-12 col-md-6 white-overlay" title="Multimedia">

        <div class="tabs col-md-5 col no-padding-left">
          <div class="col-md-4 col-sm-6 col-xs-3 tablets-mobiles-tab">
            <a class="videos"><h6>VIDEOS</h6></a>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-3">
            <a class="photos"><h6>PHOTOS</h6></a>
          </div>
        </div>
        <!-- tabs part ends -->

        <!-- photo description part begins -->
        <div class="description-container col-md-6 col-md-push-1">
          <img src="../../img/news_owner.png" />
          <strong class="photo-owner-name">MATTHEW KANE</strong>
          <h6></h6>
          <h1 class="photo-title">Lorem Ipsum is simply dummy</h1>
          <p class="photo-content" id="hidden-content">
            Lorem Ipsum is simply dummy text of the printing and typesettin Lorem Ipsum is simply dummy text of the printing and typesettin Lorem Ipsum is simply dummy text of the printing and typesettin Lorem Ipsum is simply dummy text of the printing and typesettin
            Lorem Ipsum is simply dummy text of the printing and typesettin Lorem Ipsum is simply dummy text of the printing and typesettin
          </p>
          <div id="know-more-button" class="know-more-container">
            <a class="know-more" href="#" onclick="showcontent()">KNOW MORE</a>
            <img src="../../img/line.png">
          </div>
          <div class="clearfix"></div>

          <!-- back to home part begins -->
          <!-- <div class="back-to-home">
            <a href="#" class="linkhome">
              <p class="back-btn">BACK TO HOME </p>
            </a>
          </div> -->
          <!-- back to home part ends -->

          <!-- previous and next part begins -->
          <div class="prev-next">
            <a><img src="../../img/back.png" /><span>Previous</span></a>
            <a><img src="../../img/line.png"><span>Next</span><img src="../../img/next.png"></a>
          </div>
          <!-- previous and next part ends -->

          <!-- black footer part begins -->
          <div class="black-footer">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
          </div>
          <!-- black footer part ends -->
        </div>


        <!-- photo description part ends -->
        <!--
        <div class="low-opacity-photo">
          <img src="../../img/photo-1481501940778-c8bb63e376c5.jpg" />
        </div> -->

      </div>
      <!-- Page content part start -->

      <!-- footer begins -->
      <div class="footer hidden">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      </div>
      <!-- footer ends -->
    </div>
  </div>

</body>

<!-- bootstrap scripts  -->
<script src="../../js/Global/jquery.min.js"></script>
<script src="../../js/Global/bootstrap.min.js"></script>
<!-- page scripts -->
<script src="../../js/User/photos.js"></script>
<!-- navbar scripts -->
<script src="../../js/User/home-page.js"></script>

</html>
