<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Offers</title>

    <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/Global/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/User/offers.css">

</head>

<body>

    <div class="container-fluid">
        <div class="row offers" id="offers">
            <div class="col-md-6 image-preview">
                <div class="overlay">
                    <span class="logo-left">LE</span><span class="logo-right">LE</span>
                </div>

            </div>
            <div class="col-md-6 content-container" title="Offers">
                <div class="title">
                    Get 10% Off on these new services

                </div>
                <div class="title2">
                    Classic or Gelish Mani and Pedi with Optional

                </div>
                <div class="content ">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum
                        minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum
                        minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum
                        minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum
                        minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste, modi a.
                    </p>
                    <h6 class="s col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0"><span><a class="linkget" href="#">GET IT NOW</a></span></h6>
                    <!--<div class="links">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    </div>-->
                </div>
                    <!--<p class=" back right col-md-8"><span><a href="#"> BACK TO HOME</a></span></p>-->
                    <a href="#" class="linkhome"><p class="back-btn">BACK TO HOME  </p></a>
                
         
            </div>
            <div>
                <div class="footer">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

</body>


<script src="../../js/Global/jquery.min.js"></script>
<script src="../../js/Global/bootstrap.min.js"></script>
<!--<script src="../../js/Global/scroll.js"></script>-->

</html>