<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>offers</title>

    <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/Global/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/User/offers.css">

</head>

<body>

    <div class="container-fluid">
        <div class="row" id="offers">
            <div class="col-md-6 image-preview">
                <div class="overlay">
                    
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                
                                <img src="    ../../img/andreas-fidler-410235-unsplash.jpg
                            " alt="Los Angeles">
                            </div>

                            <div class="item">
                                <img src="    ../../img/andreas-fidler-410235-unsplash.jpg
                            " alt="Chicago">
                            </div>

                            <div class="item">
                                <img src="    ../../img/andreas-fidler-410235-unsplash.jpg
                            " alt="New York">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6 content-container">
                    <div class="title">
                            Get 10% Off on these new services
                        </div>
                <div class="title2">
                    Classic or Gelish Mani and Pedi with Optional
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum minima dignissimos
                    quasi deleniti. Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui? Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum minima dignissimos quasi
                    deleniti. Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui? Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum minima dignissimos quasi deleniti.
                    Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui? Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum minima dignissimos quasi deleniti. Reprehenderit
                    ab, commodi vel iste, modi a. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas
                    eaque culpa quod ipsa dolorum minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste,
                    modi a. Odio, dolores, qui? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas
                    eaque culpa quod ipsa dolorum minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste,
                    modi a. Odio, dolores, qui? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas
                    eaque culpa quod ipsa dolorum minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste,
                    modi a. Odio, dolores, qui? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas
                    eaque culpa quod ipsa dolorum minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste,
                    modi a.
                </div>
                
            </div>
        </div>
    </div>

</body>

<script src="../../js/Global/jquery.min.js"></script>
<script src="../../js/Global/bootstrap.min.js"></script>

</html>