<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Offers</title>

    <link rel="stylesheet" href="../../css/Global/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/Global/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/User/offers.css">
    <link rel="stylesheet" type="text/css" href="../../css/User/home-page.css">


</head>

<body>

    <div class="container-fluid">
        <div class="row offers" id="offers">
                <div class="header">
                        <div class="row">
                          <div class="col-md-12">
                              <div class="col-md-10">
                                <div class="logo">
                                    <!-- <img src="../../img/logo.png" alt=""> -->
                                    <span class="logo-left">LE</span><span class="logo-right">LE</span>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="menu-icon pull-right">
                                  <span class="glyphicon glyphicon-menu-hamburger triggreMenu" aria-hidden="true" style="color:#000 !important"></span>
            
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
            <!---left image starts-->
            <div class="col-md-6 image-preview">
                <div class="overlay">
                  
                </div>

            </div>
            <!---left image ends-->
            <!---Right Side sContent-->

            <div class="col-md-6 content-container" title="Offers">
                
                <div class="title">
                    <!---OFFER TITLE-->

                    Get 10% Off on these new services

                </div>
                <div class="title2">
                    <!---SHORT DESCRIPTION-->

                    Classic or Gelish Mani and Pedi with Optional

                </div>
                <!---OFFER DESCRIPTION-->

                <div class="content ">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum
                        minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum
                        minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum
                        minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste, modi a. Odio, dolores, qui?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus quas eaque culpa quod ipsa dolorum
                        minima dignissimos quasi deleniti. Reprehenderit ab, commodi vel iste, modi a.
                    </p>
                    <h6 class="s col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0"><span><a class="linkget" href="#">GET IT NOW</a></span></h6>

                </div>
                <!--NAVIGATION BUTTONS-->

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-7">
                        <a href="#" class="linkhome">
                            <p class="back-btn">BACK TO HOME </p>
                        </a>
                    </div>
                    <div class="col-md-2 col-md-push-1 col-sm-3 col-sm-push-2 col-xs-3 col-xs-push-1 offernext">
                        <a href="#" class="linkhome">
                            <p class="back-btn ">Next </p>
                        </a>
                    </div>
                    <div class="col-md-2 col-md-push-2 col-sm-2 col-sm-push-1 col-xs-3 col-xs-push-2 next-img">
                        <a href="#" class="linkhome "><img src="../../img/2.jpg" alt="Smiley face" height="88" width="150"></a>
                    </div>

                </div>


            </div>
            <div>
                <div class="footer">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="right-menu text-center">
                    <div class="menu">
                      <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">New</a></li>
                        <li><a href="#">Offers</a></li>
                        <li><a href="#">How to use</a></li>
                        <li><a href="#">Terms &amp; Coniditions</a></li>
                        <li><a href="#">Multi Media</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                      </ul>
                    </div>
                </div>
        </div>

</body>


<script src="../../js/Global/jquery.min.js"></script>
<script src="../../js/Global/bootstrap.min.js"></script>
<script src="../../js/User/home-page.js"></script>
<!--<script src="../../js/Global/scroll.js"></script>-->

</html>