@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body{
    font-family: 'Lato', sans-serif !important;
}

#news-container{
    position: relative;
}

#news-container .glyphicon-menu-hamburger{
    color:black !important;
}

#news .col-md-12:first-child{
    padding-left: 0px;
    display: flex ;
}

#news .image-container{
    padding-left: 0px;
    /*background-image: url('../images/blonde2.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100vh;*/
    background-position: 30%;
}

#news .image-container img{
    width: 100%;
}

#news .content-container{
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

/*#news .content-container .news-owner-name{
	font-family: 'Lato', sans-serif;
}*/

#news .content-container .news-title{
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 0px;
}

#news .content-container .news-content{
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 300;
}

#news .content-container .know-more{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-right: 5px;
}

#news .content-container .know-more:hover{
    text-decoration: underline;
}

#news .content-container .know-more-container{
    margin-bottom: 50px;
}

#news .content-container .know-more{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-right: 5px;
}

#news .content-container .know-more:hover{
    text-decoration: underline;
}

#news .content-container .know-more-container{
    margin-bottom: 50px;
}

@media(max-width: 990px){
    #news .col-md-12:first-child{
        display: block;
        padding-right: 0px;
        /*padding-left: 15px;*/
    }

    #news .image-container{
        height: 300px !important;
    }

    #news .content-container{
        /*padding-left: 30px;*/
        padding-right: 30px;
    }


    #news .content-container .page-title-body{
        font-size: 40px;
    }

    #news .owl-nav{
        text-align: center !important;
    }
}

@media(max-width: 767px){
    #news .content-container .page-title-body{
        font-size: 30px;
    }

    #news .content-container .news-content{
        font-size: 16px;
    }

    #news .content-container .know-more{
        font-size: 14px;
    }

    #news .content-container{
        padding-left: 30px;
    }
}

@media(max-width: 425px){
    #news .image-container{
        background-position : initial;
    }
}