/* video slider owl carousel style begins */
#multimedia-videos .owl-nav {
  text-align: left !important;
}
#multimedia-videos .owl-dots {
  display: none;
}
#multimedia-videos .owl-carousel .owl-item {
  width: 100%;
  height: 100%;
}
#multimedia-videos .owl-carousel {
  margin-top: 30px;
}

#multimedia-videos .owl-carousel .owl-item img {
  width: 90%;
  height: 10%;
}
#multimedia-videos .owl-carousel .owl-prev {
  position: absolute;
  top: 30%;
  left: 62%;
}

#multimedia-videos .owl-carousel .owl-next {
  position: absolute;
  top: 30%;
  left: 14%;
}
#multimedia-videos .owl-carousel .disabled {
  display: none;
}

#multimedia-videos .owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
#multimedia-videos .owl-carousel .owl-item img {
  opacity: 0.7;
}
#multimedia-videos .owl-carousel .last-item img {
  opacity: 0.3;
}
#multimedia-videos .owl-carousel .owl-item p, #multimedia-videos .owl-carousel .owl-item span {
  margin-bottom: 0;
  width: 17em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

#multimedia-videos .owl-carousel .owl-item p span {
  margin-left: 15px;
}

#multimedia-videos .owl-carousel .owl-next,#multimedia-videos .owl-carousel .owl-prev {
  background-color: transparent;
  font-family: 'Abril Fatface';
  font-style: italic;
  color: white;
  font-size: 20px;
}
#multimedia-videos .owl-theme .owl-nav .owl-next:hover, #multimedia-videos .owl-theme .owl-nav .owl-prev:hover{
  color: white;
}

/* video slider owl carousel style ends */


#news  .owl-nav [class*=owl-]{
  background-color: white;
  color: black;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

#news .owl-nav .disabled{
  opacity: .5;
  cursor: default;
}

#news .owl-next{
  margin-left: 0px !important;
  padding-left: 0px !important;
}

#news .owl-nav [class*=owl-]:hover{
  background-color: transparent;
  color: black;
}

#news .owl-dots{
  display: none;
}