.about-terms {
    background-color: white;
    height: 100vh;
}

.about-terms .row{
    height: 100%;
}

#terms-conditions .content-container .content {
    margin-top: 180px;
    height: 60%;
}

#about-us .content-container .content {
    height: 50%;
}