/* setting videos page */

.videos-page {
  /* Full height */
  height: 100vh;
  overflow: hidden;
}

/* page content style begins */

.videos-page .page-content {
  background-image: url('../img/the-digital-marketing-collaboration-481322-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* overlay on page content */

.page-content>.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* side navigation style begins */

.videos-page .page-content:before {
  position: absolute;
  content: '';
  top: 20%;
  right: 80px;
  height: 75vh;
  width: 1px;
  border-right: 1px solid white;
}

.videos-page .page-content:after {
  position: absolute;
  content: "   " attr(title) "   ";
  white-space: pre;
  top: 47%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  right: -8px;
  z-index: 10;
}

/* side navigation style ends */


/* diagonal strike on the video tab style*/
.videos-page .tabs .videos:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 55%;
  right: 0;
  border-top: 1px solid;
  border-color: white;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(25deg);
  z-index: 5;
}
/*Tablets screens begins*/

@media( max-width: 991px) {
  #multimedia-videos .header {
    padding-left: 0px;
  }
  #multimedia-photos .glyphicon-remove:before {
    color: white;
  }
  #multimedia-photos .glyphicon-menu-hamburger:before {
    color: white;
  }
  .videos-page {
    height: auto;
    ;
  }
  .videos-page .page-content:after {
    top: 34%;
    right: -60px;
  }
  .videos-page .page-content:before {
    right: 30px;
  }
  .videos-page .video-slider {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  #multimedia-videos .owl-carousel .owl-next, #multimedia-videos .owl-carousel .owl-prev {
    top: 40%;
  }
  #multimedia-videos .owl-carousel .owl-next {
    left: 17%;
  }
  #multimedia-videos .owl-carousel .owl-prev {
    left: 63%;
  }
  #multimedia-videos .owl-theme .owl-nav [class*=owl-] {
    color: white;
    font-size: 30px;
  }
  #multimedia-videos .owl-carousel .owl-item p, #multimedia-videos .owl-carousel .owl-item span {
    font-size: 14px;
    width: 17em;
  }
  #multimedia-videos .owl-carousel .owl-item p span {
    margin-left: 5px;
  }
  .videos-page .page-content .mobile-tablets.footer {
    position: absolute;
    bottom: 0;
    display: block;
    height: 3%;
  }
  .videos-page .desktop-footer {
    display: none;
  }
}

/* mobile screens style begins */

@media screen and (max-width:767px) {
  #multimedia-videos .header {
    padding-left: 0px;
  }
  .videos-page .page-content .mobile-tablets.footer {
    position: absolute;
    bottom: 0;
    display: block;
    height: 3%;
  }
  .videos-page .desktop-footer {
    display: none;
  }
  #multimedia-videos .owl-carousel .owl-next, #multimedia-videos .owl-carousel .owl-prev {
    top: 30%;
  }
  #multimedia-videos .owl-carousel .owl-next {
    left: 15%;
  }
  #multimedia-videos .owl-carousel .owl-prev {
    left: 61%;
  }
}

@media screen and (max-width:540px) {
  #multimedia-videos .header {
    padding-left: 0px;
  }
  #multimedia-videos .owl-carousel .owl-next, #multimedia-videos .owl-carousel .owl-prev {
    top: 28%;
  }
  #multimedia-videos .owl-carousel .owl-next {
    left: 10%;
  }
  #multimedia-videos .owl-carousel .owl-prev {
    left: 58%;
  }
  #multimedia-videos .owl-theme .owl-nav [class*=owl-] {
    color: white;
    font-size: 30px;
  }
  .videos-page .page-content .mobile-tablets.footer {
    position: absolute;
    bottom: 0;
    display: block;
    height: 3%;
  }
  #multimedia-videos .owl-carousel .owl-item p, #multimedia-videos .owl-carousel .owl-item span {
    font-size: 12px;
    width: 17em;
  }
  .videos-page .desktop-footer {
    display: none;
  }
}

/* mobile screens style ends */
