/*About-US and Terms&Conditions style*/

.about-terms {
    background-color: white;
    height: 100vh;
}

.about-terms .image-preview {
    padding-left: 0;
    padding-right: 0;
    height: 100%;

}

.about-terms .image-preview .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    bottom: 0;
    color: white;
    padding-top: 15px;
    padding-left: 35px;
}

.about-terms .image-preview .overlay span {
    font-family: 'Abril Fatface', sans-serif;
    color: white;
    font-size: 32px;
}

.about-terms .image-preview .overlay .logo-left {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-right: 5px;
    display: inline-block;
}


.about-terms .content-container {
    padding-left: 100px;
    padding-right: 140px;
    height: 100%;
}

.about-terms .content-container:before{
    position: absolute;
    content: '';
    top: 20%;
    right: 80px;
    height: 75vh;
    width: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.about-terms .content-container:after{
    position: absolute;
    content: "   " attr(title) "   " ;
    white-space: pre;
    top: 70%;
    color: black;
    text-decoration: line-through;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 15px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    
}

.about-terms .content-container .content {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    word-spacing: 3px;
    overflow: auto;
    box-sizing: border-box;
}


.about-terms .footer {
    padding-left: 30px;
    height: 5%;
    color: white;
    position: absolute;
    bottom: 10px;
}

.about-terms .footer a {
    color: white;
    margin-right: 8px;
    font-size: 14px;
}

.about-terms .footer a:hover {
    color: #c6c6c6;
}

/*About Us Custom Style*/

#about-us .image-preview{
    background-image: url('../../img/photo-1481501940778-c8bb63e376c53.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#about-us .content-container:after{
    right: 36px;
}

#about-us .content-container .title {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 48px;
    line-height: 53px;
    margin-top: 90px;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#about-us .content-container .title:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 4px solid black;
    top: 170px;
    left: 165px;
    width: 95px;
}

#about-us .content-container .content {
    height: 50%;
}

/*Terms&Condtions Custom Style*/

#terms-conditions .image-preview{
    background-image: url('../../img/pexels-photo-2616812.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#terms-conditions .content-container:after{
    right: 37px;
}

#terms-conditions .content-container .desktop-title{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
    line-height: 44px;
    color: black;
    position: absolute;
    top: 60px;
    left: -126px;
    text-transform: uppercase;
}

#terms-conditions .content-container .desktop-title:before{
    content: '&';
    font-family: 'Abril Fatface', sans-serif;
    font-size: 70px;
    color: white;
    position: absolute;
    top: 30px;
    left: -40px;
    
}

#terms-conditions .desktop-title .special-char:before{
    content: 'S';
    position: absolute;
    color: white;
    width: 12px;
    overflow: hidden;
}

#terms-conditions .content-container .mobile-title{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
    line-height: 44px;
    margin-top: 60px;
    text-transform: uppercase;
    display: none;
    color: black;
    padding-left: 15px;
}

#terms-conditions .content-container .mobile-title:before{
    content: '&';
    font-family: 'Abril Fatface', sans-serif;
    font-size: 70px;
    color: black;
    position: absolute;
    top: 30px;
    left: 55px;
    
}

#terms-conditions .content-container .content {
    margin-top: 180px;
    height: 60%;
}

/*Mobiles and Tables*/

@media(max-width: 991px) {
    .about-terms .image-preview {
        height: 50%;
        background-size: cover;
    }
    .about-terms .content-container {
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .about-terms .content-container:before{
        right: 40px;
    }
    
    
    
    .about-terms .content-container .content {
        margin-bottom: 40px;
    }

    .about-terms .footer {
        bottom: auto;
    }

    .about-terms .footer a {
        color: black;
    }
    
    .about-terms .content-container:before{
        height: 80%;
    }
    
    #about-us .content-container, #terms-conditions .content-container{
        height: auto;
    }
    

    #about-us .content-container .content, #terms-conditions .content-container .content{
        overflow: visible;
        height: auto;
    }
    
    /*About Us Custom Style*/
    
    #about-us .content-container:after{
        right: -4px;
    }
    #about-us .content-container .title {
        margin-top: 30px;
    }
    #about-us .content-container .title:after {
        top: 80px;
        left: 146px;
    }

    /*Terms&Condtions Custom Style*/
    #terms-conditions .content-container:after{
        right: -3px;
    }
    
    #terms-conditions .content-container .desktop-title{
        display: none;
    }
    #terms-conditions .content-container .mobile-title{
        display: block;
    }
    #terms-conditions .content-container .content {
        margin-top: 50px;
    }
}
