
#contact-us .contact-us-input {
    font-size: 14px;
    padding-bottom: 12px;
    border: none;
    border-bottom: 1px solid #95989A;
    background-color: transparent;
    width: 85%;

}
.news-container .menu-icon span {
    color: black;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}
#contact-us .contact-us-title {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Abril Fatface', sans-serif;
    color: black;
}

 #contact-us .image-preview {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    background-image: url('../../img/photo-1493235431945-90c060301e41.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#contact-us .content-container:after{
    right: 24px;
}

#contact-us .content-container .title {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 48px;
    line-height: 53px;
    margin-top: 50px;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#contact-us .content-container .title:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 4px solid black;
    top: 130px;
    left: 165px;
    width: 95px;
}
#contact-us .content-container .save-button {
  	background:none;
    border:none;
    
}
#contact-us .content-container .save-span {
    content: "";
    position: absolute;
    background: transparent;
    height: 5px;
    border-top: 1px solid black;
    top: 7px;
    left: 65px;
    width: 50px;
}
#contact-us .content-container .content {
    height: 65%;
}


@media(max-width: 991px) {
    
    #contact-us .content-container, #terms-conditions .content-container{
        height: auto;
    }
    
    #contact-us .image-preview{
        height: 300px;
    }

    #contact-us .content-container .content, #terms-conditions .content-container .content{
        overflow: visible;
        height: auto;
    }
    
    /*About Us Custom Style*/
    
    #contact-us .content-container:after{
        right: -16px;
    }
    #contact-us .content-container .title {
        margin-top: 30px;
	font-family: 'Abril Fatface', sans-serif;
    }
    #contact-us .content-container .title:after {
        top: 80px;
        left: 130px;
    }
}
