/* setting image to body background */

body {
  background-image: url('../../img/the-digital-marketing-collaboration-481322-unsplash.jpg');
  /* Full height */
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* overlay on body */

body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* page content style begins */

/* side navigation style begins */

.videos-page .page-content:before {
  position: absolute;
  content: '';
  top: 20%;
  right: 80px;
  height: 75vh;
  width: 1px;
  border-right: 1px solid white;
}

.videos-page .page-content:after {
  position: absolute;
  content: "   " attr(title) "   ";
  white-space: pre;
  top: 47%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  right: -8px;
  z-index: 10;
}

/* side navigation style ends */

/* video description style begins */

.video-preview {
  position: absolute;
  top: 28%;
  left: 46%;
  z-index: 10;
}

.video-preview .play-icon {
  color: white;
  font-size: 60px;
}

.video-preview .video-name {
  font-size: 38px;
  font-family: 'Abril Fatface';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.063;
  width: 11em;
  margin-left: 7px;
}

.video-preview #video-duration {
  color: white;
  margin-left: 203px;
  font-family: 'Abril Fatface';
}

.video-preview #video-date {
  color: white;
  padding-left: 8px;
  font-family: 'Abril Fatface';
}

/* video description style ends */

/* tabs style begins */

.tabs {
  position: absolute;
  top: 25px;
  z-index: 12;
}

.tabs .videos {
  width: 200px;
  text-decoration: none;
  cursor: pointer;
}

.tabs .photos {
  text-decoration: none;
  cursor: pointer;
}

.tabs h6 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Abril Fatface';
  font-style: italic;
}

/* diagonal strike on the video tab style*/

.tabs .videos:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 40%;
  right: 0;
  border-top: 1px solid;
  border-color: white;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(25deg);
  z-index: 5;
}

/* tabs style ends */

/* logo style begins */

.logo span {
  font-family: 'Abril Fatface', sans-serif;
  color: white;
  font-size: 32px;
}

.logo .logo-left {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  margin-right: 5px;
  display: inline-block;
}

.logo {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 30px;
}

/* logo style ends */

/* footer style begins */

.videos-page .footer {
  padding-left: 30px;
  height: 5%;
  color: white;
  position: absolute;
  bottom: 10px;
  z-index: 10;
}

.videos-page .footer a {
  color: white;
  margin-right: 8px;
  font-size: 14px;
}

.videos-page .footer a:hover {
  color: #c6c6c6;
}

/* footer style ends */

/* video slider owl carousel style begins */

#multimedia-videos .owl-nav {
  text-align: left !important;
}
#multimedia-videos .owl-dots {
  display: none;
}
#multimedia-videos .owl-carousel .owl-item{
  width: 85%;
  height: 50%;
}
#multimedia-videos .owl-carousel{
  margin-top: 30px;
}
#multimedia-videos .owl-carousel .owl-item img{
  width: 90%;
  height: 10%;
}
#multimedia-videos .owl-carousel .owl-prev{
  position: absolute;
  top: 30%;
}
#multimedia-videos .owl-carousel .owl-next{
  position: absolute;
  top: 30%;
}
#multimedia-videos .owl-carousel .disabled{
  display: none;
}
.owl-theme .owl-controls .owl-nav .disabled{ opacity: 0.5; cursor: default; }

#multimedia-videos .owl-carousel .owl-item img{
  opacity: 0.7;
}
#multimedia-videos .owl-carousel .last-item img{
  opacity: 0.3;
}
#multimedia-videos .owl-carousel .owl-item p, #multimedia-videos .owl-carousel .owl-item span{
  margin-bottom: 0;
  width: 17em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: white;
}
#multimedia-videos .owl-carousel .owl-item p span{
margin-left: 35px;
}
#multimedia-videos .owl-carousel .owl-next, #multimedia-videos .owl-carousel .owl-prev{
  background-color: transparent;
  font-family: 'Abril Fatface';
  font-style: italic;
}
#multimedia-videos .owl-theme .owl-nav [class*=owl-] {
  color: white;
  font-size: 20px;
}
#multimedia-videos .owl-theme .owl-nav [class*=owl-next] {
  padding-left: 90px;
}
#multimedia-videos .owl-theme .owl-nav [class*=owl-prev] {
padding-left: 395px;
}

#multimedia-videos .owl-theme .owl-nav [class*=owl-]:hover {
  color: white;
}

/* video slider owl carousel style ends */

/* page content style ends */

/* custom padding classes style  */

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}
