/* Page style begins */

/* side navigation style begins */

.photos-page .page-content:before {
  position: absolute;
  content: '';
  top: 20%;
  right: 80px;
  height: 75vh;
  width: 1px;
  border-right: 1px solid Black;
}

.photos-page .page-content:after {
  position: absolute;
  content: "   " attr(title) "   ";
  white-space: pre;
  top: 47%;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  right: -8px;
  z-index: 10;
}

/* side navigation style ends */

/* image-preview style begins */

.photos-page {
  background-color: white;
  height: 100vh;
}

.photos-page .image-preview {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

.photos-page .image-preview .overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  bottom: 0;
  color: white;
  padding-top: 15px;
  padding-left: 35px;
}

#multimedia-photos .image-preview {
  background-image: url('../../img/tanja-heffner-314087-unsplash.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* image-preview style ends */

/* logo style begins */

.overlay span {
  font-family: 'Abril Fatface';
  color: white;
  font-size: 32px;
}

.overlay .logo-left {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  margin-right: 5px;
  display: inline-block;
}

/* logo style ends */

/* tabs style begins */

.tabs {
  position: absolute;
  top: 50px;
  z-index: 12;
}

.tabs .videos {
  width: 200px;
  text-decoration: none;
  cursor: pointer;
}

.tabs .photos {
  text-decoration: none;
  cursor: pointer;
}

.tabs h6 {
  color: Black;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Abril Fatface';
  font-style: italic;
}

.tabs .videos h6 {
  color: white;
}

/* diagonal strike on the video tab style*/

.tabs .photos:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 40%;
  right: 0;
  border-top: 1px solid;
  border-color: Black;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
  z-index: 12;
}

/* tabs style ends */

/* footer style begins */

/* white footer  */

.photos-page .footer {
  padding-left: 30px;
  height: 5%;
  color: white;
  position: absolute;
  bottom: 10px;
  z-index: 10;
}

.photos-page .footer a {
  color: white;
  margin-right: 8px;
  font-size: 14px;
}

.photos-page .footer a:hover {
  color: #c6c6c6;
}

/* black footer */

.description-container .black-footer {
  height: 5%;
  color: black;
  position: absolute;
  top: 400px;
  z-index: 10;
}

.description-container .black-footer a {
  color: black;
  margin-right: 8px;
  font-size: 14px;
}

.description-container .black-footer a:hover {
  color: #c6c6c6;
}

/* footer style ends */

/*  photo description style begins*/

#multimedia-photos .description-container {
  margin-top: 200px;
}

#multimedia-photos .description-container .photo-title {
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0px;
  width: 11em;
  color: black;
}

#multimedia-photos .description-container .photo-content {
  font-size: 16px;
  margin-bottom: 25px;
  font-family: "Lato";
  color: black;
  font-weight: 580;
  width: 25em;
  text-transform: uppercase;
}

/*  know more style begins */

#multimedia-photos .description-container .know-more {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

#multimedia-photos .description-container .know-more:hover {
  text-decoration: underline;
}

#multimedia-photos .description-container .know-more-container {
  margin-bottom: 50px;
  margin-left: 100px;
}

/*  know more style ends */

#multimedia-photos #hidden-content {
  display: none;
}

/*  photo description style begins*/

/* back home button style begins */

.back-to-home {
  position: absolute;
  top: 440px;
}

.back-btn {
  white-space: pre;
  color: black;
  font-weight: bold;
}

.back-btn:hover {
  color: #c6c6c6;
}

.back-to-home a:hover {
  text-decoration: none;
}

.back-btn:after {
  content: "";
  width: 50px;
  height: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  position: absolute
}

/* back home button style begins */

/* previous and next style begins */

.prev-next {
  position: absolute;
  top: 350px;
}

.prev-next span, .prev-next a {
  font-family: 'Abril Fatface', cursive;
  font-size: 10px;
  text-transform: uppercase;
  color: black;
}

.prev-next a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* previous and next style ends */

/* custom padding classes style  */

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}
