
/*OFFERS Custom Style*/

.offers {
    background-color: white;
    height: 100vh;
}

.offers .image-preview {
    padding-left: 0;
    padding-right: 0;
    height: 100%;

}


.offers .image-preview .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    bottom: 0;
    color: white;
    padding-top: 15px;
    padding-left: 35px;
}

.offers .image-preview .overlay span {
    font-family: 'Abril Fatface', sans-serif;
    color: white;
    font-size: 32px;
}

.offers .image-preview .overlay .logo-left {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-right: 5px;
    display: inline-block;
}


.offers .content-container {
    padding-left: 100px;
    padding-right: 140px;
    height: 100%;
}

.offers .content-container:before{
    position: absolute;
    content: '';
    top: 20%;
    right: 80px;
    height: 75vh;
    width: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.offers .content-container:after{
    position: absolute;
    content: "   " attr(title) "   " ;
    white-space: pre;
    top: 70%;
    color: black;
    text-decoration: line-through;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 15px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    
}

.offers .content-container .content {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    word-spacing: 3px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.offers .links{
     
    height: 5%;
    color: white;
    position: absolute;
    bottom: 10px;
}
.offers .links a {
    color: black;
}
.offers .links a:hover {
    color: #c6c6c6;
}
.offers .footer {
    padding-left: 30px;
    height: 5%;
    color: white;
    position: absolute;
    bottom: 10px;
}

.offers .footer a {
    color: white;
    margin-right: 8px;
    font-size: 14px;
}

h6 {
  position: relative;
  text-align: center;
  font-family: 'Lato';
  
}

h6 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.s{
    font-weight: 700;
}
.s a{
    color:black;
}
.s a:hover{
    color:#c6c6c6;
}
.nopad{
    padding-left: 10px;
    font-weight: 600;
}

h6:before {
  background: black;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

h6:before {
  left: 0;
}
.offers .footer a:hover {
    color: #c6c6c6;
}
.offerimg{
opacity: 0.5;
}
.offerimg:hover{
    opacity: 1;
}

#offers .image-preview{
    background-image: url('../../img/2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#offers .content-container:after{
    right: 33px;
}
#offers .scroll {
height: 260px;
overflow: auto;
margin: 50px;

margin-left: 0px;
margin-bottom: 0px;
margin-top: 10px;
}
#offers .content-container .title {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
    line-height: 53px;
    margin-top: 40px;
    color: black;
    margin-bottom: 30px;
    text-transform: uppercase;
}
#offers .content-container .title2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    /*line-height: 53px;*/
    margin-top: 10px;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.back {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back span {
  background: #fff;
  margin: 0 15px;
}
.back:before,
.back:after {
  background: black;
  height: 2px;
  flex: 1;
  content: '';
}
.back.left:after {
  background: none;
}
.back.right:before {
  background: none;
}
.linkhome:hover{
    text-decoration: none;
}
.linkget:hover{
    text-decoration: none;
}
.back-btn{
    margin-top: 30px;
    white-space: pre;
    color: black;
    
}
.back-btn:hover{
    color:#c6c6c6;
}
.back-btn:after{
    content: "";
    width: 50px;
    height: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    position: absolute
    
}



#offers .content-container .content {
    height: 50%;
}





/*Mobiles and Tables*/

@media(max-width: 991px) {
    .offers {
        height: auto;
    }
    .offers .image-preview {
        height: 300px;
        background-size: cover;
    }
    .offers .content-container {
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .offers .content-container:before{
        right: 40px;
    }
    
    
    .imgresponsive{
        display: block;
    }
    .offers .content-container .content {
        margin-bottom: 40px;
    }

    .offers .footer {
        bottom: auto;
    }

    .offers .footer a {
        color: black;
    }
    
    .offers .content-container:before{
        height: 80%;
    }
    
    #offers .content-container, #terms-conditions .content-container{
        height: auto;
    }
    

    #offers .content-container .content, #terms-conditions .content-container .content{
        overflow: visible;
        height: auto;
    }
    
   
    
    #offers .content-container:after{
        right: -7px;
    }
    #offers .content-container .title {
        margin-top: 30px;
    }
    #offers .content-container .title:after {
        top: 80px;
        left: 130px;
    }


}
/*RESOPONSIVE MEDIA QUERY HANDLING*/
@media(max-width:480px)
{

    .offernext{
        display: none;
    }
    .next-img{
        padding-right: 0;
    }
    .next-img img{
        width: 125%;
    }
    .next-img:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 20%;
        background-color: rgba(0,0,0,0.5);
    }
    .next-img:after{
        content: "next";
        position: absolute;
        color: white;
        top: 40%;
        left: 50%;

    
    }
    .offers .image-preview {
        height: 500px;
        background-size: cover;
    }
    #offers .content-container .title {
        font-family: 'Abril Fatface', sans-serif;
        font-size: 30px;
        line-height: 110%;
        margin-top: 40px;
        color: black;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    #offers .content-container .title2 {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        font-weight: 500;
        /*line-height: 53px;*/
        margin-top: 10px;
        color: black;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .offers .content-container .content {
        text-align: justify;
        text-justify: inter-word;
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        word-spacing: 3px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px;
    }
    .linkget{
        font-size: 9px;
    }
    .back-btn{
        font-size: 9px;
    }
    .back-btn:after{
        content: "";
        width: 50px;
        height: 6.5px;
        border-bottom: 1px solid rgba(0,0,0,0.8);
        position: absolute
        

}
