
.right-menu{
  position: absolute;
  display: none;
	right: 2px;
    top: 0;
height: 100%;
background-color: rgba(0,0,0,.9);
width: 50%;
z-index :1000;
}
.right-menu ul.list-unstyled li{
  margin-bottom: 35px;
  text-transform: uppercase;
}
.right-menu .menu{
      margin-top: 116px;
}
.right-menu .menu ul li a{
  color: #fff;
  font-size: 23px;
}
