.linkhome:hover, .linknext:hover{
    text-decoration: none;
}
.back-btn{
    margin-top: 30px;
    white-space: pre;
    color: black;
    
}
.back-btn:hover{
    color:#c6c6c6;
}
.back-btn:after{
    content: "";
    width: 50px;
    height: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    position: absolute
    
}

.next-img img{
    width: 100%;
}
@media(max-width:990px){
    .next-img img{
        width: 60%;
    }
}

@media(max-width:480px)
{
    .next-img-container{
        padding: 0;
    }
    .next-img{
        padding-right: 0;
    }
    .next-img:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0px;
        background-color: rgba(0,0,0,0.5);
    }

        .back-btn{
        font-size: 9px;
    }
    .linkhome:after,.linknext:after{
        content: "";
        width: 40px;
        height: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.8);
        position: absolute;
        top: 27px;
    }

    .linkhome:after{
        left: 60%;
    }

    .linknext:after{
        left: 40%;
    }
}