.offers {
    background-color: white;
    height: 100vh;
}

.offers .row{
    height: 100%;
}

.offers .content-container .content {
    margin-top: 180px;
    height: 60%;
}

.offers .content-container .content {
    height: 50%;
}